footer {
  font-size: 0.75rem;
  position: fixed;
  bottom: 1.2em;
}

footer a:link,
footer a:visited {
  color: rgba(34, 34, 34, 0.5);
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid rgba(34, 34, 34, 0.329);
  background-color: #f9fff1;
}

.divider {
  position: fixed;
  right: 50vw;
  bottom: 0;
  z-index: 1;

  border: none;
  border-left: 1px solid rgba(83, 70, 40, 0.342);
  height: 100vh;
  width: 1px;
}

.App {
  text-align: left;
}

.main-header {
  display: block;
  margin: 0em;
  padding: 0.5em;

  position: fixed;
  top: 0em;
  width: 50vw;

  background: #fbf7ee;
}

.main-header-title a:link,
.main-header-title a:visited {
  padding-left: 0.2em;
  font-family: "Cormorant", "Times New Roman", serif;

  text-decoration: none;
  color: #222;
}

.main-header-title a:hover {
  background-color: #f9fff1;
  border-bottom: 1px solid rgba(34, 34, 34, 0.466);
}

.row {
  margin-top: 3.5em;
}

.column-block {
  padding: 2em;
}

.left-column {
  position: fixed;
  width: 50vw;
}

/* epeolatry title */
.left-column-title h1 {
  margin-bottom: 0.1em;

  font-family: "Cormorant", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 6rem;
  color: #222222;
}

.left-column-title h5,
.left-column-title h6 {
  font-family: "Helvetica", sans-serif;
  opacity: 0.5;
}

.Definition {
  overflow: scroll;
}

.Phonetic a:link,
.Phonetic a:visited {
  text-decoration: none;
  color: #020202c0;
}

.Phonetic a:hover {
  cursor: pointer;
  color: #202020;
}

.Phonetic i {
  font-size: 0.85rem;
  padding: 0.3em;
  border: 1px solid #020202c0;
  border-radius: 50%;
}

.Synonyms ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  color: rgba(34, 34, 34, 0.5);

  display: flex;
}

.Synonyms li {
  margin-right: 0.3em;
  padding: 0em 0.5em;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-radius: 20px;
}
