form {
  height: 2em;
  margin-top: 7em;
  margin-left: 0.3em;
}

.SearchEngine input {
  background-color: #fbf7ee;
  border: none;
  border-bottom: 1px solid rgba(34, 34, 34, 0.5);
  width: 300px;
}

[type="search"] {
  font-size: 0.9rem;
  line-height: 1.7rem;
  outline: none;
  padding-left: 1.7em;
}

.ph-magnifying-glass {
  position: absolute;
  padding-top: 0.45em;
  padding-left: 0.08em;
}

.Definition {
  display: block;
  position: absolute;
  width: 50vw;
  height: 100vh;
  left: 100%;
  top: 0;
  margin-top: 3em;
  padding: 1em 2em;
}
