.SearchEngine input {
  margin-top: 2em;
  margin-left: 0.3em;
  border: none;
  border-bottom: 1px solid rgba(34, 34, 34, 0.5);
  width: 300px;
  background-color: #fbf7ee;
}

[type="search"] {
  font-size: 0.9rem;
  line-height: 1.7rem;
  outline: none;
}
